html
{ background-color:#92e2fc;
    width: 25vw;
    margin: auto;
}

h1 {
    color: black;
    font: 2em sans-serif;
    font-style: italic;
    font-weight: 900;
    margin: auto;
}

p{
    background-color: beige;
    color:black;
    border: 2rem solid black;
}

section{
    border: 2rem solid black;
    background-color: beige;
    padding:2rem;
}

nav ul {
    border: 2rem solid black;
    font-weight: 900;
    margin: auto;
}

/*header > h1 {
    margin: auto;
}

/* {
  border: 1px solid black;
}