html
{ background-color:#92e2fc;}

h1 {
    color: black;
    font: 2em sans-serif;
    font-style: bold,italic;
}

p{
    color:black;
}

section{
    background-color: beige;
}

nav{
    font-style: bold;
}